@page
@model PetStay.Pages.DetallesModel
@{
    ViewData["Title"] = "Detalles";
    int IdPublicacion = Model.IdPublicacion;
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            <span class="login100-form-logo">
                <i class="zmdi zmdi-landscape"></i>
            </span>

            <h1 style="color:#004879">Detalles de la publicación</h1>

            <div class="cont-formulario">
                <div class="info-container">

                    <h2>@Model.Publicacion.Titulo</h2>
                    <h4>@Model.Publicacion.Descripcion</h4>
                    <div>
                        <div style="display: flex; margin-top: 40px">
                            <h3>Publicado por:</h3>
                            <h3 style="color:#004879; margin-left: 5px;">@Model.Publicacion.Autor</h3>
                        </div>

                        <h3>Contacto: @Model.Publicacion.Contacto</h3>
                    </div>


                </div>
                <img class="anuncio-img" src="data:image;base64,@Convert.ToBase64String(@Model.Publicacion.Imagen)" />


            </div>
            <h2 style="margin-top: 40px;">Comentarios:</h2>

            <div class="anuncio-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comentario in Model.Comentarios)
                        {
                            <tr>
                                <td style="color: #004879">@comentario.Autor</td>
                                <td>@comentario.DetalleComentario</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <form method="post" id="comment-form">
                    <input type="hidden" name="IdPublicacion" value="@IdPublicacion" />
                    <div style="display: flex;border-top: 1px solid #dee2e6; justify-content: space-between;">
                        <textarea id="comentario" asp-for="comentario" style=" width: 100%;height: 90px;border-radius: 0 0 0 10px;" required></textarea>
                        <span asp-validation-for="comentario" class="text-danger"></span>
                        <button type="submit" id="boton-comentar" style="border-radius: 0px 0px 10px 0px;" class="btn-accept" asp-page-handler="Comentar">Comentar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
