@page
@model PetStay.Pages.DetallesAdminModel
@{
    ViewData["Title"] = "Detalles";
    Layout = "LayoutAdmin";
    int IdPublicacion = Model.IdPublicacion;

}


<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            <span class="login100-form-logo">
                <i class="zmdi zmdi-landscape"></i>
            </span>
            <h1 style="color:#004879">Detalles de la publicación</h1>

            <div class="cont-formulario">
                <div class="info-container">

                    <h2>@Model.Publicacion.Titulo</h2>
                    <h4>@Model.Publicacion.Descripcion</h4>
                    <div>
                        <div style="display: flex; margin-top: 40px">
                            <h3>Publicado por:</h3>
                            <h3 style="color:#004879; margin-left: 5px;">@Model.Publicacion.Autor</h3>
                        </div>

                        <h3>Contacto: @Model.Publicacion.Contacto</h3>
                    </div>


                </div>
                <img class="anuncio-img" src="data:image;base64,@Convert.ToBase64String(@Model.Publicacion.Imagen)" />


            </div>

            <h2 style="margin-top: 40px;">Comentarios:</h2>

            <div class="anuncio-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Autor</th>
                            <th>Comentario</th>
                            <th>Eliminar comentario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comentario in Model.ComentariosAdmin)
                        {
                            <tr>
                                <td style="color: #004879">@comentario.Autor</td>
                                <td>@comentario.DetalleComentario</td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="IdPublicacion" value="@IdPublicacion" />
                                        <input type="hidden" name="IdComentario" value="@comentario.IdComentario" />
                                        <button style="background-color: #BF1C1C;" class="btn-accept" asp-page-handler="EliminarComentario" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?')">Eliminar comentario</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div style="display: flex;justify-content: space-around;margin-top: 60px;">
                <form method="post">
                    <input type="hidden" name="IdPublicacion" value="@IdPublicacion" />
                    <button style="background-color: #BF1C1C;padding: 45px;width: 250px;" class="btn-accept" asp-page-handler="EliminarPublicacion" onclick="return confirm('¿Estás seguro de que deseas eliminar esta publicación?')">Eliminar publicación</button>
                </form>
            </div>

        </div>
    </div>
</div>