@page
@model PetStay.Pages.DetalleSolicitudModel
@{
    ViewData["Title"] = "RegistroServicio";
    Layout = "LayoutAdmin";
    int IdSolicitud = Model.IdSolicitud;
    int IdTipoServicio = Model.IdTipoServicio;
    int IdUsuario = Model.IdUsuario;
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            <form method=post>
                <input type="hidden" name="IdSolicitud" value="@IdSolicitud" />
                <input type="hidden" name="IdTipoServicio" value="@IdTipoServicio" />
                <input type="hidden" name="IdUsuario" value="@IdUsuario" />
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <h1>Detalles de solicitud</h1>

                <div class="cont-formulario">
                    <div style="display: flex;flex-direction: column;">
                        <div>
                            <h3 style="font-size: 20px;">Nombre</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.Nombre</h3>
                        </div><br>
                        <div>
                            <h3 style="font-size: 20px;">Cédula</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.Cedula</h3>
                        </div><br>

                        <div>
                            <h3 style="font-size: 20px;">Provincia</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.Provincia</h3>

                        </div><br>
                        <div>
                            <h3 style="font-size: 20px;">Cantón</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.Canton</h3>

                        </div><br>
                        <div>
                            <h3 style="font-size: 20px;">Distrito</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.Distrito</h3>

                        </div>
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <div class="wrap-input100 validate-input " data-validate="Nombre">
                            <h3 style="font-size: 20px;">Tipo de servicio</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.TipoServicio</h3>
                        </div><br>

                        <div>
                            <h3 style="font-size: 20px;">Teléfono principal </h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.TelefonoPrincipal</h3>

                        </div><br>

                        <div>
                            <h3 style="font-size: 20px;">Teléfono secundario</h3><br>
                            <h3 style="font-size: 22px;color:#004879">@Model.solicitud.TelefonoSecundario</h3>

                        </div><br>
                        <h3 style="font-size: 20px;">Documento oficial</h3><br>
                        <img style="height: 110px;" src="data:image;base64,@Convert.ToBase64String(@Model.solicitud.ImgDocIdentificacion)" />


                    </div>
                </div>
                <div style="display: flex;justify-content: flex-end;margin-top: 45px;">
                    <button style="background-color: #BF1C1C;height: 65px;width: 115px; margin-right: 55px;" asp-page-handler="Rechazar" class="btn-accept">Rechazar</button>
                    <button style="background-color: #08A318;height: 65px;width: 115px; margin-right: 130px;" asp-page-handler="Aceptar" class="btn-accept">Aceptar</button>

                </div>

            </form>
        </div>
    </div>
</div>