@page
@model PetStay.Pages.GestSolicitudesModel
@{
    ViewData["Title"] = "Admin";
    Layout = "LayoutAdmin";

}
<div>

    <h1 style="margin-top: 2%; color:#004879;margin-bottom: 45px;">Administrar solicitudes de servicio</h1>
    <h2 style="margin-top: 2%; color:#004879;margin-bottom: 65px;">Lista de solicitudes recibidas:</h2>
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Tipo de servicio</th>
                    <th>Más detalles</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var solicitud in Model.Solicitudes)
                {
                    <tr>
                        <td>@solicitud.Nombre</td>
                        <td>@solicitud.Cedula</td>
                        <td>@solicitud.TipoServicio</td>
                        <td>
                            <a asp-page="/DetalleSolicitud" asp-route-idSolicitud="@solicitud.IdSolicitud" asp-route-idTipoServicio="@solicitud.IdTipoServicio" asp-route-idUsuario="@solicitud.IdUsuario" class="btn btn-primary">Más detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>




