@page
@model PetStay.Pages.UserModel
@{
    ViewData["Title"] = "User";
    var nombreUsuario = ViewData["NombreUsuario"] as string;
    var idUsuario = ViewData["IdUsuario"] as int?;
}


<div style="">
    <div>
        <h1 style="margin-top: 2%; color:#004879">@Model.nombreUsuario</h1>
        <h2 style="margin-top: 2%; color:#004879">Publicaciones</h2>
        <div style="display: flex;justify-content: space-between;margin-top: 70px;">
            <select class="filter" placeholder="filtrar publicaciones" name="info" id="filtro">

                <option hidden selected>Filtrar publicación</option>
                <option value="Información"> Información</option>
                <option value="Servicios">Servicios</option>
                <option value="Todos">Todos</option>
            </select>
            <a asp-page="/CrearPublicacion" class="btn-accept" type="submit">Crear publicación</a>
        </div>
        @foreach (var publicacion in Model.Publicaciones)
        {
            <div class="anuncio-container publicacion-@publicacion.TipoPublicacion">
                <div class="anuncio-header">
                    <h3 style="color: white;margin-left: 17px;">@publicacion.TipoPublicacion</h3>
                </div>
                <div style="display: flex; padding: 50px; justify-content: space-around;">
                    <img class="anuncio-img" src="data:image;base64,@Convert.ToBase64String(publicacion.Imagen)" alt="Anuncios" />
                    <div class="info-container">
                        <h4>@publicacion.Titulo</h4>
                        <div>
                            <div style="display: flex;">
                                <h4>Publicado por: </h4>
                                <h4 style="color:#004879; margin-left: 5px;">@publicacion.Autor</h4>
                            </div>
                            <h4>Contacto: @publicacion.Contacto</h4>
                        </div>
                        <a asp-page="/Detalles" asp-route-idPublicacion="@publicacion.IdPublicacion" asp-route-nombreUsuario="@Model.nombreUsuario" asp-route-id="@Model.idUsuario" class="btn-masinfo">
                            Más detalles
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        function filtrarPublicaciones() {
            var filtro = document.getElementById("filtro").value.toLowerCase();
            var publicaciones = document.getElementsByClassName("anuncio-container");
            for (var i = 0; i < publicaciones.length; i++) {
                var tipoPublicacion = publicaciones[i].querySelector("h3").textContent.toLowerCase();
                console.log("tipo de publicacion: " + tipoPublicacion + " filtro: " + filtro);

                if (tipoPublicacion === filtro || filtro === "Información") {
                    publicaciones[i].style.display = "block";
                }
                else if (tipoPublicacion === filtro || filtro === "Servicios") {
                    publicaciones[i].style.display = "block";
                }
                else if (filtro == "todos") {
                    publicaciones[i].style.display = "block";
                }
                else {
                    publicaciones[i].style.display = "none";
                }


               

            }
        }

        document.getElementById("filtro").onchange = function () {
            filtrarPublicaciones();
        };

    </script>

